<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IRrecv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <IRrecv.Properties.Settings>
            <setting name="Autostart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenSerialPortAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRecognition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnScreenDisplay" serializeAs="String">
                <value>False</value>
            </setting>
        </IRrecv.Properties.Settings>
    </userSettings>
</configuration>